<h1>Movie Listings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Summary</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= movie.genre %></td>
    <td><%= movie.director %></td>
    <td><%= movie.summary %></td>
    <td><%= link_to 'Details/Reviews', movie %></td>
  </tr>
<% end %>