<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<p>Title</p>
<%= @movie.title %>

<p>Year</p>
<%= @movie.year %>

<p>Genre</p>
<%= @movie.genre %>

<p>Director</p>
<%= @movie.director %>

<p>Summary</p>
<%= @movie.summary %>

<p />

<p><%= @movie.movie_likes.count %> users have liked this movie.</p>

<%= render "movie_likes/form",
  movie: @movie,
  movie_like: @movie_like %>

<div class="row">
    <table class="table table-striped">
      <% @movie.reviews.each do |review| %>
        <tr>
          <td><%= review.score %></td>
          <td><%= review.body %></td>
        </tr>
      <% end %>
    </table>
</div>

<p><%= render "reviews/form" %></p>
