

<div class='row span12'></div>

<div class='row'>
		<div class='span6'>
			<p>Title:  <%= @movie.title %></p>
			<p>Year:  <%= @movie.year %></p>
			<p>Genre:  <%= @movie.genre %></p>
			<p>Director:  <%= @movie.director %></p>
			<p>Summary:  <%= @movie.summary %></p>

			<p><%= @movie.movie_likes.count %> users have liked this movie.</p>\

			<p><%= render "movie_likes/form" %></p>

	    <table class="table table-striped">
	      <% @movie.reviews.each do |review| %>
	        <tr>
	          <td><%= review.score %></td>
	          <td><%= link_to review.body, movie_review_path(@movie, review) %></td>
	        </tr>
	      <% end %>
	    </table>
	  </div>
	  <div class='span6'>
	   	<%= render "reviews/form" %>
		</div>

</div>
