<div class="container">
	<div class = "row-fluid">
		<div class = "span12">
			<div class="navbar">
	  		<div class="navbar-inner">
				<ul class="nav">
					<li>MOVIES R US</li>
					<li class=<%= 'active' if current_page?(movies_path) %>><%= link_to 'All Movies', movies_path, class:'active' %></li>
					<% if user_signed_in? %>
						<li class=<%= 'active' if current_page?(new_movie_path) %>><%= link_to 'Submit Movie', new_movie_path %></li>
						<li class=<%= 'active' if current_page?(user_path(current_user)) %>><%= link_to 'User Home', user_path(current_user), class:'active' %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
