<!DOCTYPE html>
<html>
<head>
  <title>MovieReview</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'header' %>



<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
<% end %>

<%= yield %>

</body>
</html>
